[Unit]
Description=HDFS-filesystem
After=syslog.target network-online.target

[Service]
Type=oneshot
User=hduser
# optionally set this as default remote cmd for pdsh (or call: echo "ssh">/etc/pdsh/rcmd_default)
Environment=PDSH_RCMD_TYPE=ssh
ExecStart=/usr/local/hadoop/sbin/start-dfs.sh
ExecStop=/usr/local/hadoop/sbin/stop-dfs.sh
Restart=on-failure
RemainAfterExit=yes

[Install]
# in runlevels 2-5
WantedBy=multi-user.target
Alias=hdfs.service

