[Unit]
Description=Yarn DFS-Resource Manager
After=hdfs.service # syslog.target network-online.target are derived from hdfs.service

[Service]
Type=oneshot
User=hduser
# optionally set this as default remote cmd for pdsh (or call: echo "ssh">/etc/pdsh/rcmd_default)
Environment=PDSH_RCMD_TYPE=ssh
ExecStart=/usr/local/hadoop/sbin/start-yarn.sh
ExecStop=/usr/local/hadoop/sbin/stop-yarn.sh
Restart=on-failure
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target 
